@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------------Header Styles-------------------*/
.header {
  @apply text-white;

  & > h1 {
    @apply text-xl font-bold;
  }

  .signInLogo {
    @apply hover:text-yellow-500;
    cursor: pointer;
  }

  .navlistsignincontainer {
    @apply flex flex-wrap flex-row justify-end;
    @apply space-x-2 pr-4 py-2;
    @apply hover:text-yellow-500;

    a {
      @apply font-bold;
    }
  }
  .search {
    @apply flex-wrap flex flex-row justify-center items-center;
    @apply space-x-2;

    img {
      @apply max-w-28 max-h-28 mr-24;
    }
    input {
      @apply max-w-60;
    }
  }
  .searchButton {
    @apply hover:text-yellow-500;
    @apply transition-transform hover:scale-110;
  }

  .navlistcheckout {
    @apply flex-wrap flex flex-row space-x-4;
    @apply hover:text-yellow-500;
    @apply transition-transform hover:scale-110;
    cursor: pointer;

    li {
      @apply ml-14;
    }
  }
  .navigate {
    @apply mb-4 pb-1.5;
  }
  .navlistcontainer {
    @apply flex-wrap flex flex-row justify-center;
    @apply justify-around mt-4 mb-4;
  }
  .navItem {
    @apply border-solid rounded-full border-2 border-yellow-500 p-2 m-2;
    @apply transition-transform hover:scale-110;
    cursor: pointer;
    @apply hover:text-yellow-500;
  }
}

/*---------------Accordion Styles-------------------*/

#accordianMenu {
  @apply pl-3;
  .children > button {
    @apply ml-4;
  }
  .accordion {
    @apply w-full block;
    padding-right: 1em;

    &.has-children {
      &:after {
        content: "↓";
        font-size: 1.1em;
        color: yellow;
        float: right;
        margin-right: -1rem;
      }
      &.active:after {
        content: "-";
      }
    }
  }
}

#categories {
  @apply bg-gray-800 bg-opacity-75 text-white shadow-xl md:shadow-xl rounded-lg;
  @apply flex flex-col text-center pl-2;

  .theWordCategories {
    @apply font-bold;
  }
}

#categoriesList div,
button {
  @apply text-left;
}

#popularBrands {
  @apply bg-gray-800 bg-opacity-75 text-white shadow-xl md:shadow-xl rounded-lg;
  @apply flex flex-col text-center mt-6 mb-24 pl-2;

  .popularBrands {
    @apply font-bold;
  }
}

#brandsList {
  @apply flex flex-wrap flex-col;
}

#brandsList button {
  @apply text-left;
}

#item {
  @apply flex items-center justify-center;
}

.brand,
.accordion {
  @apply hover:text-yellow-500;
}
