@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  @apply border border-sky-500;
  @apply bg-gray-900;
  @apply text-white;
  @apply flex justify-between;
}

.footer_contact_box {
  @apply border border-white rounded-md;
  margin: 10px;
}

.footer_image {
  @apply border border-white rounded-md;
  @apply max-w-12 max-h-12;
}

.FooterSiteNav {
  @apply flex justify-between;
  margin: 20px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    @apply flex justify-center;
    @apply mx-2;
  }
}

.FooterHeader {
  @apply text-yellow-500;
  @apply font-bold;
  @apply text-lg;
  @apply mb-2;
}

.FooterGuts {
  @apply text-sm;
}

.FooterGuts > * {
  @apply mb-2;
}
