@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bootcamp";
    src:
        url("/fonts/Bootcamp-Morsecode.otf") format("opentype");
}

.footer {
  @apply relative overflow-hidden pt-4;
  aspect-ratio: 16/4;

  & > .content {
    @apply text-white flex justify-between relative z-10;
  }

  & > video {
    @apply absolute w-full z-[0];
    top: -50%;
  }

  & > .black-bar {
      font-family: "Bootcamp";
      @apply bg-slate-950 z-10 h-full w-full relative text-white text-center p-6 mt-8 text-2xl;
  }
}

.footer_contact_box {
  @apply flex flex-col items-center;
  @apply justify-center ps-24;

  li {
    @apply text-center;
  }
}

.footer_image {
  @apply max-w-28 max-h-28 mx-auto;
}

.FooterSiteNav {
  @apply flex justify-between;
  margin: 20px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    @apply flex justify-center;
    @apply mx-2;
  }
}

.FooterHeader {
  @apply text-yellow-500;
  @apply font-bold;
  @apply text-lg;
  @apply mb-2;
}

.FooterGuts {
  @apply text-sm;
}

.FooterGuts > * {
  @apply mb-2;
}
