@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  @apply bg-gray-900;
  @apply text-white;
  @apply flex justify-between;
}

.footer_contact_box {
  @apply flex flex-col items-center;
  @apply justify-center ps-24;


  li {
    @apply text-center
  }
}

.footer_image {
  @apply max-w-28 max-h-28 mx-auto;
}

.FooterSiteNav {
  @apply flex justify-between;
  margin: 20px;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    @apply flex justify-center;
    @apply mx-2;
  }
}

.FooterHeader {
  @apply text-yellow-500;
  @apply font-bold;
  @apply text-lg;
  @apply mb-2;
}

.FooterGuts {
  @apply text-sm;
}

.FooterGuts > * {
  @apply mb-2;
}
