#accordianMenu{padding-left:.75rem}.children>button{margin-left:.25rem}.accordion{width:100%;display:block;padding-right:1em}.accordion.has-children:after{content:"↓";font-size:1.1em;color:yellow;float:right;margin-right:-1rem}.accordion.active:after{content:"-"}

#categories{background-color:rgba(31,41,55,.75);color:#fff;box-shadow:0 0 .5rem rgba(0,0,0,.2);display:flex;flex-direction:column;text-align:center;padding-left:.5rem;border-radius:.375rem}.theWordCategories{font-weight:700}

#categoriesList div,button{text-align:left}

#popularBrands{background-color:rgba(31,41,55,.75);color:#fff;box-shadow:0 0 .5rem rgba(0,0,0,.2);display:flex;flex-direction:column;text-align:center;margin-top:.375rem;margin-bottom:1.5rem;padding-left:.5rem;border-radius:.375rem}.popularBrands{font-weight:700}

#brandsList{display:flex;flex-wrap:wrap;flex-direction:column}

#brandsList button{text-align:left}

#item{display:flex;align-items:center;justify-content:center}

.brand,.accordion:hover{color:#f59e0b}
