#accordianMenu {
  @apply pl-3;
  .children > button {
    @apply ml-4;
  }
  .accordion {
    @apply w-full block;
    padding-right: 1em;

    &.has-children {
      &:after {
        content: "↓";
        font-size: 1.1em;
        color: yellow;
        float: right;
        margin-right: -1rem;
      }
      &.active:after {
        content: "-";
      }
    }
  }
}

#categories {
  @apply bg-gray-800 bg-opacity-75 text-white shadow-xl md:shadow-xl rounded-lg;
  @apply flex flex-col text-center pl-2;

  .theWordCategories {
    @apply font-bold;
  }
}

#categoriesList div,
button {
  @apply text-left;
}

#popularBrands {
  @apply bg-gray-800 bg-opacity-75 text-white shadow-xl md:shadow-xl rounded-lg;
  @apply flex flex-col text-center mt-6 mb-24 pl-2;

  .popularBrands {
    @apply font-bold;
  }
}

#brandsList {
  @apply flex flex-wrap flex-col;
}

#brandsList button {
  @apply text-left;
}

#item {
  @apply flex items-center justify-center;
}

.brand,
.accordion {
  @apply hover:text-yellow-500;
}

#outerBox {
    @apply flex;
    @apply pl-6 pt-6 pr-6 pb-6 ml-12 mt-12 h-fit;
    @apply bg-gray-800 bg-opacity-75 text-white shadow-xl md:shadow-xl rounded-lg;
}

#itemSpecs {
    /* @apply flex flex-col; */
    /* @apply pl-6 pt-6 pr-6 pb-6 ml-12 mt-12 h-fit; */
    /* @apply bg-gray-800 bg-opacity-75 text-white shadow-xl md:shadow-xl rounded-lg; */

    img {
        @apply flex max-w-96 max-h-96 mb-6 mx-auto;
        @apply shadow-xl md:shadow-xl;
    }
}

#itemName {
    @apply font-bold text-3xl;
}

#addToCart {
    button {
        @apply bg-gray-800 text-white font-bold py-2 px-4 rounded-full shadow-md hover:bg-gray-700 hover:text-yellow-500;
    }
}

#itemPrice:hover {
    text-decoration: underline;
    cursor: pointer;
}

#itemBrand {
    @apply flex justify-end;
}

#itemDescription {
    margin: inherit;
  @apply overflow-y-auto max-h-96 max-w-96;
  @apply overflow-auto flex-grow rounded-lg;
}

#seperator {
  @apply border-t-[3px] mt-12 w-6/12 ml-20;
}

#sideScroll {
  @apply flex overflow-x-auto justify-center;
  @apply bg-gray-800 bg-opacity-75 py-4 px-4 shadow-xl md:shadow-xl rounded-lg;
  @apply pl-20 ml-20 mt-12 mb-48 w-6/12;

  #sideScrollImages {
    @apply max-w-48 max-h-48 m-6 rounded-lg;
  }
}
.imageContainer {
  @apply relative;
}

#imageButton {
  @apply absolute bottom-0 right-0 transform -translate-x-1/2 -translate-y-1/2;
  @apply bg-gray-800 text-white font-bold py-2 px-4 rounded-full shadow-md;
  @apply hover:bg-gray-700 hover:text-yellow-500 hover:scale-110;
}

#viewItemButton {
  @apply absolute left-12 top-8 transform -translate-x-1/2 -translate-y-1/2;
  @apply bg-gray-800 text-white font-bold py-2 px-4 rounded-full shadow-md;
  @apply hover:bg-gray-700 hover:text-yellow-500 hover:scale-110;
}
