@font-face {
  font-family: "Bootcamp";
  src: url("/fonts/Bootcamp-Morsecode.otf") format("opentype");
}

.footer {
  @apply relative overflow-hidden pt-4;
  aspect-ratio: 16/4;
}

.footer > .content {
  @apply text-white flex justify-between relative z-10;
}

.footer > video {
  @apply absolute w-full z-[0];
  top: -50%;
}

.footer > .black-bar {
  font-family: "Bootcamp";
  @apply z-10 h-full w-full relative text-white text-center p-6 mt-16 text-4xl;
}

.footer > .black-bar > div {
  @apply bg-slate-950 w-fit h-fit m-auto p-8;
}

.footer_contact_box {
  @apply flex flex-col items-center;
  @apply justify-center ps-24;
}

.footer_contact_box li {
  @apply text-center;
}

.footer_image {
  @apply max-w-28 max-h-28 mx-auto;
}

.FooterSiteNav {
  @apply flex justify-between;
  margin: 20px;
}

.FooterSiteNav ul {
  list-style: none;
  padding: 0;
}

.FooterSiteNav li {
  @apply flex justify-center;
  @apply mx-2;
}

.FooterHeader {
  @apply text-yellow-500;
  @apply font-bold;
  @apply text-lg;
  @apply mb-2;
}

.FooterGuts {
  @apply text-sm;
}

.FooterGuts > * {
  @apply mb-2;
}